@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- MAIN --- */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 20px;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 20vh;
} */

h2, h3 {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  font-style: bold;
  display: inline-block;
}

h2 {
  font-size: 2.2em;
  font-weight: 800;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

img {
  display: inline-block;
}

/* Header section styles */

/* --- SEARCH BAR --- */

/* .search-bar > form {
  width: 100%;
  max-width: 600px;
  display: inline-block;
} */

.search-bar {
  text-align: center;
  position: relative;
  z-index: 1000;
}

.search-input {
  font-size: 17px;
  border: 2px solid #646cff;
  border-radius: 20px;
  width: 400px;
  height: 30px;
  padding-left: 20px;
  background-color: rgb(252, 251, 247);
}

.suggestions-dropdown {
  position: absolute;
  list-style: none;
  padding: 7px 0;
  font-size: 15px;
  background-color: rgb(248, 246, 238);
  border: 1.5px solid #646cff;
  border-radius: 4px;
  width: 395px;
  margin-top: -7px;
  left: 208px;
  z-index: -100;
}

.suggestions-dropdown > li:hover {
  cursor: pointer;
  background-color: rgb(244, 239, 252);
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.1em 0.4em;
  margin-left: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* --- MAIN BODY --- */

.weather-body {
  width: 850px;
  height: 600px;
  border-radius: 10px;
  margin-top: 50px;
  position: relative;
}

/* .weather-mascot {
  position: absolute;
  left: 50px;
  top: 45%;
  transform: translateY(-50%);
  z-index: 999;
  pointer-events: none;
  width: 300px;
  height: auto;
} */

.astro-bg {
  border-radius: 10px;
}

.today-weather-info {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 0;
  align-items: flex-end;
  position: absolute;
  right: 60px;
}

.location-name {
  word-wrap: break-word;
  width:400px;
  text-align: right;
}

.location-date {
  position: relative;
  font-weight: 400;
}

.location-time {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-style: bold;
  display: inline-block;
  font-size: 3.2em;
  position: relative;
}

.today-weather-data {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 60px;
}

/* --- weather data text theme --- */

.loc-name-day {
  color: #dd097e;
  -webkit-text-stroke: 0.5px rgb(253, 255, 236);
}
.loc-name-night {
  color: #fffffc;
  -webkit-text-stroke: 1px rgb(47, 38, 65);
}
.loc-name-sunrise {
  color: #fff4f4;
  -webkit-text-stroke: 1px rgb(154, 18, 218);
}
.loc-name-sunset {
  color: #fffffc;
  -webkit-text-stroke: 1px rgb(95, 196, 171);
}


.loc-date-day {
  color: #dd097e;
}
.loc-date-night {
  color: #fffffc;
}
.loc-date-sunrise {
  color: #7d0fb1;
}
.loc-date-sunset {
  color: #79fdc0;
}

.loc-time-day {
  color: #dd097e;
}
.loc-time-night {
  color: #fffffc;
}
.loc-time-sunrise {
  color: #7d0fb1;
}
.loc-time-sunset {
  color: #79fdc0;
}

.twd-day {
  color: #dd097e;
}
.twd-night {
  color: #fffffc;
}
.twd-sunrise {
  color: #7d0fb1;
}
.twd-sunset {
  color: #79fdc0;
}

/* --- UPCOMING FORECAST --- */
.upcoming-weather {
  display: flex;
  align-items: right;
  justify-content: right;
  width:100%;
  margin-top: 140px;
}

.forecast-container {
  display: flex;
  margin-right: 80px;
  text-align: center;
}

.forecast-day {
  width: 80px;
  height: 150px;
  padding: 1px;
  margin: 10px;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.forecast-day:hover {
  cursor: pointer;
}

.forecast-day h4 {
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 5px;
}

.forecast-day p {
  font-size: 0.8em;
  margin: 5px 0;
}

.max-temp, .min-temp {
  display: inline-block;
  padding: 3px 5px 0 2px;
}

.max-temp {
  font-weight: bold;
}

.upcoming_condition {
  display: inline-block;
  
}

/* -- HOURLY SLIDER -- */


/* Style for the Hourly Slider Component */
.hourly-component {
  width: 80%;
  height: 120px;
  margin: 20px auto;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.slick-arrow {
  display: none; /* Hide arrows */
}

.hour-slider {
  /* background-color: red; */
  border: 2px solid #646cff;
  background-color: rgba(221, 240, 236, 0.8);
  width: 10px;
  height: 100px;
  padding: 0 5px;
  margin: 0 2px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hour-slider:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hour-slider p {
  font-size: 14px;
  margin: 0 auto;
  font-weight: bold;
  color: #333;
}

.hour-slider p:last-child {
  font-size: 12px;
  font-weight: normal;
  color: black;
}

.hourly_condition {
  display: inline-block;
  position: relative;
  width: 30px;
  margin: 10px auto;
}

/* @media (max-width: 525px) {
  html { font-size: 90%; }
  .main-content { flex-direction: column; align-items: center; }

  .hourly-component {
      padding: 10px;
  }
  .slick-slide {
      padding: 5px;
  }
  .hour-slider {
      padding: 10px;
      margin: 0 2px;
  }
  .weather-mascot {
    left: -10px;
  }

  .upcoming-weather {
    align-items: center;
    justify-content: center;
    flex-flow: row;
  }

  .forecast-day {
    width: 80px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .forecast-day:hover {
    cursor: pointer;
  }

  .forecast-day h4 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .forecast-day p {
    margin: 0px 0;
  }

  .max-temp, .min-temp {
    display: inline-block;
    padding: 0 8px;
  }

  .max-temp {
    font-weight: bold;
  }

  .upcoming_condition {
    display: inline-block;
    
  }

} */



/* COLOUR THEME */

@media (prefers-color-scheme: light) {
  :root {
    color: #423081;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #fffefe;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #423081;
    background-color: #1d1d20;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1d1d20;
    color:#e5e7eb;
  }
}